<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
<!--        {{ form.as_p }}-->
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} <ul style="color:red;">{{fm.errors|striptags}} </ul>
            {{fm.help_text}} <br>
        {% endfor %}
        <button type="submit">Register</button>

        {% for message in messages %}
            <small
                {% if message.tags %}
                class="{{message.tags}}" style="color: green;"
                {% endif %} >
                {{message}}
            </small>
        {% endfor %}
    </form>
</body>
</html>