<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SCC</title>
    {% block head %} {% endblock head %}
    <link rel="stylesheet" href="{% static 'bmqa1/css/bootstrap.css' %}"/>
    {% block css_js %} {% endblock css_js %}
</head>
<body>
<div class="container mt-5">
    {% block headline %}
    <h1 class="text-center alert alert-danger">hello {{name}}</h1>
    {% endblock headline %}

    {% block content %}
    <div class="alert-warning" style="">
        <h5 class="text-center">Registraion or Login</h5>
        <a style="display:block;" href="./reg">Registration</a>
        <a style="display:block;" href="./login">Login</a>
    </div>
    {% endblock content %}
</div>
<script src="{% static 'bmqa1/js/jquery.js' %}"></script>
<script src="{% static 'bmqa1/js/popper.js' %}"></script>
<script src="{% static 'bmqa1/js/bootstrap.js' %}"></script>
{% block script %} {% endblock script %}

</body>
</html>
